/* Portfolio.css */

.portfolio {
  background: #2f3643;
}

.portfolio h2 {
  margin-bottom: 4rem;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.portfolio-container .portfolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem #1d2534;
  overflow: hidden;
  display: flex;
}

.portfolio-box img {
  width: 100%;
  transition: transform 0.5s ease; /* Only transition transform property */
}

.portfolio-box:hover img {
  transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #0ef);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: transform 0.5s ease; /* Only transition transform property */
  opacity: 0;
}

.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
  opacity: 1;
}

.portfolio-layer h4 {
  font-size: 1.8rem;
}

.portfolio-layer p {
  font-size: 1rem;
  margin: 0.3rem 0 1rem;
}

.portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
